<main>
    <article>
      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">
          <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>
          <ul class="service-list">
            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">
                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">Frontend Development:</h3>
                  <p class="body-sm">
                    Focus exclusively on building user interfaces using Angular, TypeScript, HTML, and CSS. 
                    This can involve creating reusable components, optimizing performance, and ensuring cross-browser compatibility.
                  </p>
                </div>
              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">
                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">Web Application Development</h3>
                  <p class="body-sm">
                    Develop tailored web applications that address specific business needs. 
                    These could be tools for data management, workflow automation, customer relationship management (CRM), and more.
                  </p>
                </div>
              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">
                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">UI / UX Development</h3>
                  <p class="body-sm">
                    Provide user interface (UI) and user experience (UX) design services to create visually appealing and user-friendly websites and applications. 
                    This can include wireframing, prototyping, and creating responsive designs.
                  </p>
                </div>
              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">
                <div class="card-media">
                  <img src="../../assets/images/graphic.jpg">
                </div>
                <div>
                  <h3 class="card-title title-sm">UI/UX Design Integration</h3>
                  <p class="body-sm">
                    As an Angular developer with a keen eye for design, I offer seamless UI/UX design integration services. 
                    I bridge the gap between functionality and aesthetics by translating user-centric design principles into captivating user interfaces.
                  </p>
                </div>
              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">
                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">Responsive Design Services</h3>
                  <p class="body-sm">
                    Ensure that websites and applications are fully responsive and work seamlessly across various devices and screen sizes.
                  </p>
                </div>
              </div>
            </li>

           

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">
                <div class="card-media">
                  <img src="../../assets/images/graphic.jpg">
                </div>
                <div>
                  <h3 class="card-title title-sm">Graphic Design Integration</h3>
                  <p class="body-sm">
                    Incorporate custom graphics and designs created in Canva into your web projects, adding a personal and visually appealing touch.
                  </p>
                </div>
              </div>
            </li>            

          </ul>
        </div>
      </section>
    </article>
  </main>