<main>
    <article>
      <section class="section education">
        <div class="container"> 
          <h2 class="section-title headline-md text-center">My Education</h2> 
          <ul class="education-list"> 
            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">
                <div class="card-media">
                  <ion-icon name="school-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">Bachelor's Degree</h3>
                  <p class="body-sm">Computer Science and Software Engineering</p>
                  <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">University of Bedfordshire</h4>
                  <h4>September 2022 - September 2023</h4>
                  <h5><strong>Graduated with First Class Honours</strong></h5>
                </div>
              </div>
            </li>
  
            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 98%, 67%)">
                <div class="card-media">
                  <ion-icon name="school-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                    <h3 class="card-title title-sm">High Diploma</h3>
                    <p class="body-sm">Computing and Software Engineering</p>
                    <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">ICBT Campus</h4>
                    <h4>March 2019 - January 2022</h4>
                </div>
              </div>
            </li>
  
          </ul>  
        </div>
      </section>  

      <section class="section education">
        <div class="container"> 
          <h2 class="section-title headline-md text-center">My Experience</h2> 
          <ul class="education-list"> 
            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">
                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>
                <div>
                  <h3 class="card-title title-sm">Intern Web Developer</h3>
                  <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Apps Lanka Software Solutions</h4>
                  <h4>April 2023 - October 2023</h4>
                </div>
              </div>
            </li>
          </ul>  
        </div>
      </section> 
    </article>
  </main>
  