<main>
    <article>
      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">
          <h2 class="section-title headline-md text-center" id="portfolio-label">My Projects</h2>
          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">
                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="../../assets/images/crms_home.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">
                </div>
                <div class="card-content">
                  <span class="chip label-md">Website</span>
                  <h3 class="title-md">Construction Company Resource Management System</h3>
                  <p class="card-text">
                    Construction Company Resource Management System is a website designed to revolutionize the way construction companies manage their vital resources. For developing this website, Angular for frontend development, Node.js and MySQL for backend operations, and Python for machine learning capabilities, website empowers construction firms to efficiently oversee labor, materials, and payments, and even predict resource requirements for upcoming projects.
                  </p>
                  <a href="" target="_blank" class="btn btn-primary">View Screenshots</a>&nbsp;
                  <a href="" target="_blank" class="btn btn-primary">View Sourcecode</a>
                </div>
              </div>
            </li>

            <li>
              <div class="portfolio-card">
                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="../../assets/images/ecom.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">
                </div>
                <div class="card-content">
                  <span class="chip label-md">Website</span>
                  <h3 class="title-md">E-commerce website</h3>
                  <p class="card-text">
                    This project aims to deliver a cutting-edge e-commerce website that offers users a seamless, user-friendly, and secure shopping experience. The website is developed using the Angular framework for the frontend and incorporates a robust REST API for backend communication. The platform allows users to explore an extensive catalog of products, add items to their cart, and complete purchases with ease.
                  </p>
                  <a href="#" class="btn btn-primary">View Screenshots</a>&nbsp;
                  <a href="#" class="btn btn-primary">View Sourcecode</a>
                </div>
              </div>
            </li>

            <li>
              <div class="portfolio-card">
                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="../../assets/images/emp3.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">
                </div>
                <div class="card-content">
                  <span class="chip label-md">Website</span>
                  <h3 class="title-md">Employee Management System</h3>
                  <p class="card-text">
                    The Employee Management System Website is a comprehensive and user-friendly application developed using Angular and powered by a JSON server backend. This system provides a streamlined platform for managing employee information, allowing users to perform various operations like adding, viewing, updating, and deleting employee details. Additionally, the website offers filtering and sorting functionalities to enhance the user experience and facilitate efficient data management.
                  </p>
                  <a href="" target="_blank" class="btn btn-primary">View Screenshots</a>&nbsp;
                  <a href="" target="_blank" class="btn btn-primary">View Sourcecode</a>
                </div>
              </div>
            </li>

            <li>
              <div class="portfolio-card">
                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="../../assets/images/show.png" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">
                </div>
                <div class="card-content">
                  <span class="chip label-md">Showcase Website</span>
                  <h3 class="title-md">DTH Subscriber Management</h3>
                  <p class="card-text">
                    I designed a Showcase website for the app "DTH Subscriber Management" (https://lnkd.in/gnQnfHWX) using Angular and Bootstrap.
                  </p>
                  <a href="" target="_blank" class="btn btn-primary">View Screenshots</a>&nbsp;
                  <a href="" target="_blank" class="btn btn-primary">View Sourcecode</a>
                </div>
              </div>
            </li>

            <li>
              <div class="portfolio-card">
                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="../../assets/images/post.jfif" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">
                </div>
                <div class="card-content">
                  <span class="chip label-md">Poster</span>
                  <h3 class="title-md">Advertise a Software company</h3>
                  <p class="card-text">
                    I designed a post using Canva to advertise a software company.
                  </p>
                  <a href="" target="_blank" class="btn btn-primary">View post</a>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </section>
    </article>
  </main>